<%= render "users/registrations/new" %>
<div class='landing'>
  <div class='banner_text'>
    <h1>Know what's happening.</h1>
    <h4>Ashby Village Square powers group communication</h4></br>
    <%= link_to 'Create an Account', "#",  data: {toggle: "modal", target: "#myModal", :"reveal-id"=>"register"}, class: 'button success radius small' %>
  </div>

  <div class='footer'>
    <h3>What you'll be able to do on Ashby Village Square</h3>
  </div>
</div>
