<%= render "users/registrations/new" %>
<div class='landing'>
  <div class='banner_text'>
    <h1>Know what's happening.</h1>
    <h4>Ashby Village Square powers group communication</h4></br>
    <%= link_to 'Create an Account', "#",  data: {toggle: "modal", target: "#myModal", :"reveal-id"=>"register"}, class: 'button success radius small' %>
  </div>

  <div class='footer'>
    <h3>What you'll be able to do on Ashby Village Square</h3>
    <div class='columns' style="width:100%">
      <div class="column1" style="float:left; margin:0; width:33%;">
        <div class="communications" style="height:150px;"></div>
        <h5>Stay Updated</h5>
        <p>This website provides you a channel to talk with all fellow villagers.</p>
      </div>
      <div class="column2" style="float:left; margin:0; width:33%;">
        <div class="groups" style="height:150px;"></div>
        <h5>Form Groups</h5>
        <p>All the interest groups you know and love are here.  But you can form them if any are missing.</p>
      </div>
      <div class="column3" style="float:left; margin:0; width:33%;">
        <div class="events" style="height:150px;"></div>
        <h5>Create Events</h5>
        <p>You'll easily be able to coordinate large events among many members.</p>
      </div>
    </div>
  </div>
</div>
