<%= render "users/registrations/new" %>

<h1>Know what's happening</h1>
<h2> Ashby Village Square powers group communication.</h2>

<%= link_to 'Create an Account', "#",  data: {toggle: "modal", target: "#myModal", :"reveal-id"=>"register"}, class: 'button successs radius small'
%>
