<%= render "users/registrations/new" %>
<div id='landing'>
  <div id=''>
    <h1><b>Know what's happening.</b></h1>
    <h4>Ashby Village Square powers group communication</h4></br>
    <%= link_to 'Create an Account', "#",  data: {toggle: "modal", target: "#myModal", :"reveal-id"=>"register"}, class: 'button successs radius small' %>
  </div>

  <div id='footer'>
    <h3><strong>What you'll be able to do on Ashby Village Square</strong></h3>
  </div>
</div>
