<%= render "users/registrations/new" %>

<h1>Know what's happening</h1>
<h2> Ashby Village Square powers group communication.</h2>
<%= link_to "Create An Account", new_user_registration_path, class: 'button successs radius small' %>
<%= link_to 'Register', "#myModal",  data: {toggle: "modal", target: "#myModal", :"reveal-id"=>"myModal"} %>
