<% if replies.count == 1 %>
	<h6><%= replies.count %> REPLY</h6>
<% elsif replies.count > 1 %>
	<h6><%= replies.count %> REPLIES</h6>
<% end %>
<div class="" id="<%= post_id %>-replies">
  <% replies.each do |reply| %>
  	<%= render 'replies/reply', reply: reply %>
  <% end %>
</div>
