<div class="row">
  <div class="small-1 large-1 columns">
  </div>
  <div class="new-reply small-11 large-11 columns">
    <div class="reply-user row collapse">
      <div class="new-reply-display-member">
        <% if current_user.photo %>
          <%= image_tag(current_user.photo(:thumb)) %>
        <% end %>
      </div>
      <div class="reply-form">
        <%= form_for [post, @reply] do |f| %>
          <%= f.text_area :content, placeholder: "Write your reply here...", required: true, class: "reply-content" %>
      </div>
    </div>
    <%= f.submit "Post Reply Here", class: "reply-button button right" %>
    <% end %>
  </div>
</div>
