# Ignore DS_STORE
*.DS_Store

# Ignore bundler config.
/.bundle

# Ignore the database config and secret file
/config/database.yml
/config/secrets.yml

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore application configuration
/config/application.yml

# Ignore locally uploaded files
/public/system/*

# Ignore seed data files
# /app/assets/images/seed/*

# Ignore testing files
.rspec
/spec/tmp/*
/spec/examples.txt
