<div class="info-box small-12 large-5 columns">
	<h6>Description</h6>
	<p><%= @group.description %></p>
	<h6>Leader(s)</h6>
	<div class="listing-member-display">
  <% @group.users.leaders.each do |user| %>
      <% if user.photo %>
        <%= image_tag(user.photo(:thumb)) %>
      <% end %>
    	<%= link_to user.decorate.full_name, user %>
    	<h6><%= user.phone %></h6><br>
  <% end %>
	</div>
</div>
