<div class="info-box large-5 columns">
  <h6>Description</h6>
  <p><%= @group.description %></p>
	<h6>Leader</h6>
	<div class="listing-member-display">
  <% if @group.users.leaders.first.photo %>
    <%= image_tag(@group.users.leaders.first.photo(:thumb)) %>
  <% end %>
	<%= link_to @group.users.leaders.first.decorate.full_name, @group.users.leaders.first %>
	<h6><%= @group.users.leaders.first.phone %></h6>
	</div>
</div>
