<div class="row group-menu">
  <div class="click-bulletin small-2 small-uncentered medium-3 columns">
    <p><i class="fa fa-comments-o fa-2x"></i><span class="menu-text">Bulletin Board</span></p>
  </div>
  <div class="click-member-listing small-2 small-uncentered medium-3 columns">
    <p><i class="fa fa-users fa-2x"></i><span class="menu-text">Members (<%= group.user_groups.count %>)</span></p>
  </div>
  <div class="click-group-events small-uncentered small-2 medium-3 columns">
    <p><i class="fa fa-calendar fa-2x"></i><span class="menu-text">Events</span></p>
  </div>
  <div class="click-group-settings small-uncentered <%= @group.users.include?(current_user)%> small-2 medium-3 columns">
    <p><i class="fa fa-cog fa-2x"></i><span class="menu-text">Settings</span></p>
  </div>
  <div class="click-description small-uncentered small-2 medium-3 columns">
    <p><i class="fa fa-info-circle fa-2x"></i></p>
  </div>
</div>
