<div class="settings-group">
  <div class="settings-remove-membership">
    <h6>Settings</h6>
    <% if group.users.exists?(id: current_user.id) %>
      <% if current_user.is_only_leader(group) %>
        <p> Since you are the only leader of this group, removing your membership will mark this group inactive and villagers will be unable to view or join it. Please add another group leader before removing yourself if you would like this group to stay active. </p>
        <%= link_to leave_group_path(group), method: :put, data: {confirm: "You are the only leader of this group, if you remove your membership this group will become inactive. Are you sure you want to remove your membership?"} do %>
          <button class="remove-membership">Remove Membership</button>
        <% end %>
      <% else %>
        <p>Click the button below to remove yourself from this group. This means you will no longer receive email notifications from this group. You may still join this group later.</p>
        <%= link_to leave_group_path(group), method: :put do %>
          <button class="remove-membership">Remove Membership</button>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <% if current_user.is_leader(@group) %>
  <div class="settings-edit">
    <p>Since you are a leader of <%= group.name %>, you can edit the details of this group.</p>
    <%= link_to edit_group_path(group.id), class: 'success radius small' do %>
      <button class="edit-group">Edit Group</button> <!-- Change button color to blue -->
    <% end %>
  </div>
  <% end %>
</div>
