<h1>All groups</h1>


<select name="groups">
    <% Group.all.each do |group| %>
        <option value="<%= group.name %>"><%= group.name %></option>
    <% end %>
</select>


<button> hello </button>


<script>
$(document).ready(function(){
    $("button").click(function(){
        $.ajax({
        type: 'GET',
        url: 'groups/',
        success: function(data){
            alert(data);
        },
        dataType: 'json'
        });
    });
});

</script>


<%= link_to "Create new group", new_group_path %>
