<div class="member-listing large-6 columns">
<% @group.users.each do |user| %>
	<div class="member-tile">
  <% if user.photo %>
    <%= image_tag user.photo(:medium) %>
  <% end %>
  <%= user.decorate.full_name %>
	</div>
<% end %>
</div>
