<h1>New group </h1>
<h2>Create a group within <%@neighborhood.name%></h2>

	<%= form_for [@neighborhood, @group] do |f| %>
		Name: <%= f.text_field :name %>
		Description: <%= f.text_field :description %>
		<%= f.submit %>
	<% end %>
