<!-- <h1>Groups#show</h1>
<p>Find me in app/views/groups/show.html.erb</p> -->
<% provide(:title, @group.name) %>
<h1>
  <%= @group.name %>
  <%= @group.description %>
</h1>

<% @users.each do |user| %>
      <li><%= user.first_name %></li>
    <% end %>
