<!-- <h1>Groups#show</h1>
<p>Find me in app/views/groups/show.html.erb</p> -->
<% provide(:title, @group.name) %>
<h1>
  <%= @group.name %>
  <%= @group.description %>
</h1>

<%= link_to "View member listing", member_listing_path(@group) %>
