<h1>Groups#show</h1>
<p>Find me in app/views/groups/show.html.erb</p>
<table class="group" summary="Group listing">
  <tr>
    <td class="main">
      <h1>
        <%= @group.name %>
      </h1>
    </td>

  </tr>
</table>