<div class="row text-center">
  <div class="header small-11 small-centered large-6 column">
    <%= image_tag(current_user.photo(:thumb)) %>
    <h2><%= @user.full_name %></h2>
  </div>
</div></br>

<div class="grid">
  <%= render 'menu' %></br>

  <%= render partial: 'profile', locals: { info: @info} %>
</div>
