<div class="row event-menu">  
  <div class="click-details small-uncentered small-3 columns">
    <p><i class="fa fa-info-circle fa-2x"></i></p>
  </div>
  <div class="click-posts small-3 small-uncentered columns">
    <p><i class="fa fa-comments-o fa-2x"></i></p>
  </div>
  <div class="click-attendance small-3 small-uncentered columns">
    <p><i class="fa fa-users fa-2x"></i></p>
  </div>
  <div class="click-event-settings small-uncentered small-3 columns">
    <p><i class="fa fa-cog fa-2x"></i></p>
  </div>
</div>
