  <div class="" id="posts">
  <h6>
    <% if posts.count > 0 %>
      <%= "Most Recent Posts"%>
    <% end %>
  </h6>
    <% posts.each do |post| %>
      <%= render 'posts/post', post: post, reply: reply %>
    <% end %>
  </div>
