@import "ashby_settings.scss";

.my-events {
	margin-top: 20px;
}

.event-tile {
	background-color: white;
  position: relative;
	border: 2px solid transparent;
	border-radius: 8px;
	margin-top: 16px;
	margin-bottom: 16px;
	padding: 24px;
	@include ease-transition(0.5s);
}

.event-tile:hover {
	border: 2px solid $ashby-light-blue;
	cursor: pointer;
	background-color: $ashby-faint-blue;
}

.event-tile-organizers img {
    object-fit: cover;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    margin-right: 16px;
    float: left;
}

.event-tile-icon {
  padding: 0;
}

.event-tile-icon img {
  height: 25px;
  margin-right: 7px;
}

.event-organizer {
  img {
    height: 16px;
    margin-right: 8px;
    display: inline-block;
  }

  h6 {
    display: inline-block;
  }
}

.repeat {
  color: white;
  text-align: right;
  font-size: 14px;
  text-transform: uppercase;
  background: $ashby-gray;
  position: absolute;
  right: 0;
  bottom: 0;
  border: 4px solid $ashby-gray;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 20px;
}

@media (max-width: 64em) {
  .my-events {
    margin-left: 16px;
  }

  .event-tile-margin {
    margin: 0 16px 0 16px;
  }
}

@media (max-width: 41em) {
  .event-tile {
    padding: 12px;
  }
}
