@import "ashby_settings.scss";

.my-events {
	margin-top: 20px;
}

.event-tile {
	background-color: white;
	border: 2px solid transparent;
	border-radius: 8px;
	margin-top: 16px;
	margin-bottom: 16px;
	padding: 24px;
	@include ease-transition(0.5s);
}

.event-tile:hover {
	border: 2px solid $ashby-light-blue;
	cursor: pointer;
	background-color: $ashby-faint-blue;
}

.tile-is-attending {
  margin: 0;
  background: $ashby-light-blue;
  -webkit-box-shadow: 0px 4px 0px 0px $ashby-dark-blue;
  -moz-box-shadow: 0px 4px 0px 0px $ashby-dark-blue;
  box-shadow: 0px 4px 0px 0px $ashby-dark-blue;
}

.tile-is-attending:hover span {
  display: none;
}

.tile-is-attending:hover:after{
  content: 'Cancel Attendance';
}

.tile-is-attending:hover {
  background: $ashby-red;
  -webkit-box-shadow: 0px 4px 0px 0px $ashby-dark-red;
  -moz-box-shadow: 0px 4px 0px 0px $ashby-dark-red;
  box-shadow: 0px 4px 0px 0px $ashby-dark-red;
}

.event-tile-organizers img {
    object-fit: cover;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    margin-right: 16px;
    float: left;
}

.event-tile-icon {
  padding: 0;
}

.event-tile-icon img {
  height: 25px;
  margin-right: 7px;
}
