@import "ashby_settings.scss";

.group-event-tile {
  background-color: white;
  border: 2px solid transparent;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 24px;
  @include ease-transition(0.5s);
}

.group-event-tile:hover {
  border: 2px solid $ashby-light-blue;
  cursor: pointer;
  background-color: #ECF1F7;
}

.event-tile-icon {
  padding: 0;
  margin-bottom: 10px;
}

.event-tile-icon img {
  height: 25px;
  margin-right: 7px;
}

.group-event-rsvp button {
  width: 100%;
}

.event-tile-bio {
  margin-top: 16px;
  margin-bottom: 16px;
}

.organizer-bio p {
  text-transform: uppercase;
  font-size: $small-font-size;
  color: $ashby-gray;
  margin: 0;
}

.tile-is-attending {
  background: $ashby-light-blue;
  -webkit-box-shadow: 0px 4px 0px 0px $ashby-dark-blue;
  -moz-box-shadow: 0px 4px 0px 0px $ashby-dark-blue;
  box-shadow: 0px 4px 0px 0px $ashby-dark-blue;
}

.tile-is-attending:hover span {
  display: none;
}

.tile-is-attending:hover:after{
  content: 'Cancel Attendance';
}

.tile-is-attending:hover {
  background: $ashby-red;
  -webkit-box-shadow: 0px 4px 0px 0px $ashby-dark-red;
  -moz-box-shadow: 0px 4px 0px 0px $ashby-dark-red;
  box-shadow: 0px 4px 0px 0px $ashby-dark-red;
}

@media (max-width: 41em) {
  .create-event {
    display: none;
  }
}

@media (min-width: 41em) {
  .create-event-mobile {
    display: none;
  }
}
