@import "ashby_settings.scss";

.group-event-tile {
  background-color: white;
  border: 2px solid transparent;
  border-radius: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 24px;
  @include ease-transition(0.5s);
}

.group-event-tile:hover {
  border: 2px solid $ashby-light-blue;
  cursor: pointer;
  background-color: #ECF1F7;
}

.event-tile-icon {
  padding: 0;
  margin-bottom: 10px;
}

.event-tile-icon img {
  height: 25px;
  margin-right: 7px;
}

.group-event-rsvp button {
  width: 100%;
}

.event-tile-bio {
  margin-top: 16px;
  margin-bottom: 16px;
}

.create-event-mobile {
  margin-top: 32px;
}

.no-margin-button {
  margin-bottom: 0;
}

.organizer-bio p {
  text-transform: uppercase;
  font-size: $small-font-size;
  color: $ashby-gray;
  margin: 0;
}

@media (max-width: 41em) {
  .create-event {
    display: none;
  }
}

@media (min-width: 41em) {
  .create-event-mobile {
    display: none;
  }
}
