@import "ashby_settings.scss";

.group-tile {
	background-color: white;
	border: 2px solid transparent;
	border-radius: 8px;
	margin-bottom: 16px !important; // To override foundation's row class
	padding: 24px;
}

.group-tile:hover {
	border: 2px solid $ashby-light-blue;
	cursor: pointer;
}