@import "ashby_settings.scss";

.dropdowns-tile, .group-tile {
	background-color: white;
	border: 2px solid transparent;
	border-radius: 8px;
	margin-top: 16px !important; // To override foundation's row class
	margin-bottom: 16px !important; // To override foundation's row class
	padding: 24px;
}

.group-tile:hover {
	border: 2px solid $ashby-light-blue;
	cursor: pointer;
}

.group-tile .group-photo {
	object-fit: cover;
	width: 240px;
}

.group-tile .member-count-icon {
	height: 16px;
	width: 24px;
	float: left;
	margin-right: 8px;
}

.member-display img {
	height: 48px;
	width: 48px;
	border-radius: 50%;
}