@import "ashby_settings.scss";

.top-bar .home img {
	height: 48px;
	margin: 8px;
}

.top-bar .my-groups img {
	height: 24px;
	margin-right: 16px;
}

.top-bar .my-profile img {
	height: 48px;
	width: 48px;
	border-radius: 50%;
	margin-right: 16px;
	border: 3px solid white;
	object-fit: cover;
}

.top-bar .my-profile li {
	border-top: 1px solid white;
}