@import "ashby_settings.scss";

.edit-settings h2 {
  text-align: center;
  padding-top: 20px;
}

.change-password-form {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  margin: 24px !important;
}
