// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "ashby_settings.scss";

.group-header {
  position: relative;
  margin-top: 16px;

  img {
    width: 100%;
    height: 256px;
    overflow: hidden;
    object-fit: cover;
  }

  h2, h6 {
    position: absolute;
    bottom: 0;
    color: white;
    margin-left: 16px;
  }

  h2 {
    margin-bottom: 24px;
  }

  button {
    position: absolute;
    bottom: 8px;
    right: 16px;
    box-shadow: none;
  }
}

.image-shadow {
  position: absolute;
  bottom: 0;
  height: 256px;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 1) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 1) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 1) 100%);
}

.info-box {
  background-color: white;

  border-radius: 8px;
  margin-top: 16px !important; // To override foundation's row class
  margin-bottom: 16px !important; // To override foundation's row class
  margin-left: 16px !important;
  padding: 12px;
}

.group-menu {
  background-color: white;
  border-radius: 8px;
  height: 48px;
  span {
    color: $ashby-gray;
  }
}

.group-menu p {
  color: $ashby-gray;
}
.click-new-post {
  padding: 10px;
  height: 48px;
  // width: 195px;
}

.click-new-post img {
  height: 25px;
  margin-right: 10px;
}

.click-new-post:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.click-member-listing {
  padding: 10px;
  height: 48px;
  // width: 195px;
}

.click-member-listing img {
  height: 25px;
  margin-right: 10px;
}

.click-member-listing:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.click-group-settings {
  padding: 10px;
  height: 48px;
  // width: 195px;
}



.click-group-settings img {
  height: 25px;
  margin-right: 10px;
}

.click-group-settings:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

<<<<<<< HEAD
.click-group-events {
  padding: 10px;
  height: 48px;
  // width: 195px;
}

.click-group-events:hover {
=======
.click-events {
  padding: 10px;
  height: 48px;
  width: 195px;
}

.click-events img {
  height: 25px;
  margin-right: 10px;
}

.click-events:hover {
>>>>>>> master
  cursor: pointer;
  background-color: #f2f2f2;
}

.group-posts {
  padding: 0px !important;
}

.group-join {
  // height: 44px;
  padding: 10px;
  margin: 0px !important;
}

.group-joined {
  background: #4A90E2 !important;
  // height: 48px;
  padding: 10px;
  margin: 0px !important;
}

.create-section {
  background-color: white;
  border: 2px solid transparent;
  border-radius: 8px;
  margin-top: 16px !important; // To override foundation's row class
  margin-bottom: 16px !important; // To override foundation's row class
  padding: 24px;
  @include ease-transition(0.5s);
}

.create-title {
    text-align: center;
    margin: 40px 0 40px 0;
}

.create-subtitle {
    color: $ashby-gray;
}

.image-wrapper {
  position: relative;

  .group-leader-photo img {
    position: relative;
    z-index: 1;
  }
  .group-leader-icon {
    position: absolute;
    z-index: 2;
    left: -5px;
    top: -5px;
    max-width: 27px;
    max-height: 27px;
    border: 3px solid white;
  }
}

<<<<<<< HEAD
.mobile-group-join {
    display: none
}

@media (max-width: 64em) and (min-width: 42em) {
  .group-join, .group-joined {
    margin-bottom: 45px;
    height: 15%;
  }
  .group-header {
    h2 {
      margin-bottom: 40px;
    }
  }

  .mobile-group-join {
    display: none;
  }

}
@media (max-width: 41em) {
  #hide_group_menu, .group-joined {
    display: none;
  }
  .click-group-settings, .click-member-listing, .click-new-post {
    width: 50px !important;
  }
  .post, .group-new-post {
    margin-left: 10px !important;
    margin-right: 10px !important;
  }
  .group-join {
    display: none;
  }

  .mobile-group-join {
    display: block;
  }
}

.group-event-tile {
  background-color: white;
  border: 2px solid transparent;
  border-radius: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 24px;
  @include ease-transition(0.5s);
}

.group-event-tile:hover {
  border: 2px solid $ashby-light-blue;
  cursor: pointer;
  background-color: #ECF1F7;
}

.event-tile-icon {
  padding: 0;
}

.event-tile-icon img {
  height: 25px;
  margin-right: 7px;
}
