@import "ashby_settings.scss";
.listing-member {
  background-color: white;
  border: 2px solid transparent;
  border-radius: 8px;
  margin-top: 16px !important; // To override foundation's row class
  margin-bottom: 16px !important; // To override foundation's row class
  padding: 24px;
  @include ease-transition(0.5s);

  .large-9 {
    margin-left: -8px;
  }
}

.listing-member-tile {
  margin-top: 8px !important; // To override foundation's row class
  margin-bottom: 8px !important; // To override foundation's row class
  padding: 8px;
  @include ease-transition(0.5s);
}

.listing-member-display img {
  object-fit: cover;
  height: 64px;
  width: 64px;
  border-radius: 50%;
}
