// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "ashby_settings.scss";

.group-header {
  position: relative;
  margin-top: 16px;

  img {
    width: 100%;
    height: 256px;
    overflow: hidden;
    object-fit: cover;
  }

  h2, h6 {
    position: absolute;
    bottom: 0;
    color: white;
    margin-left: 16px;
  }

  h2 {
    margin-bottom: 24px;
  }

  button {
    position: absolute;
    bottom: 8px;
    right: 16px;
    box-shadow: none;
  }
}

.image-shadow {
  position: absolute;
  bottom: 0;
  height: 256px;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 1) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 1) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 1) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 1) 100%);
}

.info-box {
  background-color: white;
  float: right;
  border-radius: 8px;
  margin-top: 16px !important; // To override foundation's row class
  margin-bottom: 16px !important; // To override foundation's row class
  margin-left: 16px !important;
  padding: 12px;

  // TEMP TEMP TEMP
  .listing-member-display {
    img {
      float: left;
      margin-right: 16px;
    }
  }
}

// TEMP TEMP TEMP
.large-5 {
  width: 39.66667% !important;
}

// MENU
.group-menu {
  background-color: white;
  border-radius: 8px;
  height: 48px;
  margin-top: 16px;
  span {
    color: $ashby-gray;
  }
}

.group-menu p {
  color: $ashby-gray;
}
.click-new-post {
  padding: 10px;
  height: 48px;
  width: 195px;
}

.click-new-post img {
  height: 25px;
  margin-right: 10px;
}

.click-new-post:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.click-member-listing {
  padding: 10px;
  height: 48px;
  width: 195px;
}

.click-member-listing img {
  height: 25px;
  margin-right: 10px;
}

.click-member-listing:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.click-group-settings {
  padding: 10px;
  height: 48px;
  width: 195px;
}

.click-group-settings img {
  height: 25px;
  margin-right: 10px;
}

.click-group-settings:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.group-posts {
  padding: 0px !important;
}

.group-join {
  height: 44px;
  padding: 10px;
  margin: 0px;
}

.group-joined {
  background: #4A90E2 !important;
  height: 48px;
  padding: 10px;
  margin: 0px;
}
