@import "ashby_settings.scss";

.flash_notice {
	font-size: 24px;
	color: white;
	position: fixed;
	bottom: 30px;
	left: 30px;
	z-index: 1000;
	border-radius: 10px;
	background: $ashby-green;
	padding: 20px 50px;
	box-shadow: 0 2px 6px #999999;

	i {
		color: white;
	}
}

.form-error {
  background-color: #ffcdcd!important;
}

.form-error-msg, .login-form-error-msg, .pw-form-error-msg, .password_error, .startdate_errors, .enddate_errors {
  color: #e54d4d;
  display: none;
}


@media (max-width: 41em) {
  .flash_notice, .flash_error {
    padding: 8px, 20px;
  }
}
