.flash_notice {
	font-size: 24px;
	color: white;
	position: fixed;
	bottom: 30px;
	left: 30px;
	z-index: 1000;
	border-radius: 10px;
	background: #7F8C8D;
	padding: 20px 50px;
	box-shadow: 0 2px 6px #999999;
}

.flash_error {
    display:none;
	font-size: 24px;
	color: white;
	position: fixed;
	bottom: 30px;
	left: 30px;
	z-index: 1000;
	border-radius: 10px;
	background: #DE6868;
	padding: 20px 50px;
	box-shadow: 0 2px 6px #999999;
}

@media (max-width: 41em) {
  .flash_notice, .flash_error {
    padding: 8px, 20px;
  }
}
