.flash_notice {
	font-size: 24px;
	color: white;
	position: fixed;
	bottom: 30px;
	left: 30px;
	z-index: 1000;
	border-radius: 10px;
	background: #7F8C8D;
	padding: 20px 50px;
	box-shadow: 0 2px 6px #999999;
    
     animation:flash-fade 1s 1;
    -webkit-animation:flash-fade 1s 1;
    -moz-animation:flash-fade 1s 1;
    animation-fill-mode: forwards;
    
    animation-delay:5s;
    -webkit-animation-delay:5s; /* Safari and Chrome */
    -moz-animation-delay: 5s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    
} 

@keyframes flash-fade{
    from {opacity :1;}
    to {opacity :0;}
}

@-webkit-keyframes flash-fade{
    from {opacity :1;}
    to {opacity :0;}
}

.flash_error {
	font-size: 24px;
	color: white;
	position: fixed;
	bottom: 30px;
	left: 30px;
	z-index: 1000;
	border-radius: 10px;
	background: #DE6868;
	padding: 20px 50px;
	box-shadow: 0 2px 6px #999999;

	animation:flash-fade 1s 1;
    -webkit-animation:flash-fade 1s 1;
    -moz-animation:flash-fade 1s 1;
    animation-fill-mode: forwards;
    
    animation-delay:5s;
    -webkit-animation-delay:5s; /* Safari and Chrome */
    -moz-animation-delay:5s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
}
