@import "ashby_settings.scss";


.post{
  background-color: white;
  border: 2px solid transparent;
  border-radius: 8px;
  margin-top: 16px !important; // To override foundation's row class
  margin-bottom: 16px !important; // To override foundation's row class
  padding: 12px;
  @include ease-transition(0.5s);
  h6, h4, p {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .post-user {
    margin-bottom: 8px !important; // To override foundation's row class

    .timestamp {
      text-transform: lowercase;
  }
  }


}

.new-post {
  background-color: white;
  border: 2px solid transparent;
  border-radius: 8px;
  margin-top: 16px !important; // To override foundation's row class
  margin-bottom: 16px !important; // To override foundation's row class
  padding: 24px;
  @include ease-transition(0.5s);
}

.post-display-member img {
  object-fit: cover;
  height: 48px;
  width: 48px;
  border-radius: 50%;
}
.text-area {
  background-color: white !important;
  border-radius:8px !important;
  margin-top: 16px !important; // To override foundation's row class
  margin-bottom: 16px !important; // To override foundation's row class
}
