@import "ashby_settings.scss";
.most-recent-post {
  h6 {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
}
.post {
  background-color: white;
  border-radius: 8px;
  // margin-top: 16px !important; // To override foundation's row class
  // margin-bottom: 2px !important; // To override foundation's row class
  padding: 12px;
  @include ease-transition(0.5s);
  h6, h4, p {
    margin-top: 0px !important;
    margin-bottom: 0px !important;

  }
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.post-delete {
  float: right !important;
  display: inline-block;
}

.delete {
  color: $ashby-red;
}

.post-user {
  margin: 0px !important;
  // margin-left: 0 !important;
  // margin-right: 0 !important;
  // margin-bottom: 8px !important; // To override foundation's row class
}

.timestamp {
  text-transform: lowercase;
  font-style: italic;
  // display: inline-block;
}

.new-post {
  background-color: white;
  border-radius: 8px;
  margin-top: 16px !important; // To override foundation's row class
  margin-bottom: 16px !important; // To override foundation's row class
  @include ease-transition(0.5s);
  padding: 12px;
}

.post-display-member img {
  object-fit: cover;
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.post-display-member {
  display: inline-block !important;
  float: left !important;
  margin-right: 8px;
}

.post-body {
  margin-top: 16px !important; // To override foundation's row class
  margin-bottom: 16px !important; // To override foundation's row class
  // padding: 16px !important;
}

.text-area {
  background-color: white !important;
  border-radius:8px !important;
}

@media (max-width: 64em) and (min-width: 42em) {
  .post-display-header {
    display: inline-block !important;
    margin-left: 16px !important;
  }
}
@media (max-width: 41em) {
  .post-display-header {
    display: inline-block !important;
    margin-left: 8px !important;
  }

  .event-post {
    margin-left: 16px;
    margin-right: 16px;
  }
}
