// Place all the styles related to the replies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "ashby_settings.scss";

.reply {
  background-color: #E3E3E3;
  border: 1px solid $ashby-gray;
  border-radius: 8px;
  margin-top: 2px !important; // To override foundation's row class
  margin-bottom: 2px !important; // To override foundation's row class
  padding: 12px;
  h6, h4, p {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .reply-user {
    margin-bottom: 8px !important; // To override foundation's row class

    .timestamp {
      text-transform: lowercase;
      font-style: italic;
    }
  }
}

.new-reply {
  background-color: #E3E3E3;
  border: 1px solid $ashby-gray;
  border-radius: 8px;
  margin-top: 2px !important; // To override foundation's row class
  margin-bottom: 16px !important; // To override foundation's row class
  padding: 12px;
  h6, h4, p {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
}

.reply-body {
  margin-top: 16px !important; // To override foundation's row class
}

.reply-content {
  margin-left: -24px;
}

.reply-display-member img {
  object-fit: cover;
  height: 48px;
  width: 48px;
  border-radius: 50%;
}

.reply-display-content {
  left: -24px;
}

.text-area {
  background-color: white !important;
  border-radius:8px !important;
}
