// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "ashby_settings.scss";

#landing {
  color: #ffffff;
  background: url("bg_main.jpg") transparent center center no-repeat;
  background-size: cover;
  text-align: center;
  padding: 200px;
}

#footer {

}
