// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "ashby_settings.scss";

.menu {
  background-color: white;
  border-radius: 8px;
}

.actions {
  height: 250px;
  background-color: white;
  border-radius: 8px;
}

.actions h7 {
  color: $ashby-black;
}

.user-info h4 {
  color: #2D3339;
}

.user_info {
  height: 250px;
  border-radius: 8px;
  background-color: white;
}

.header img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 18px;
  border: 4px solid $ashby-dark-blue;
}

.header {
  padding: 50px;
  font-style: bold;
}

.header h2 {
  text-align: center;
}

.nav h6 {
  color: #2D3339;
}
