// Place all the styles related to the user controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "ashby_settings.scss";

.row .row {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.menu {
  background-color: white;
  border-radius: 8px;
}

.menu p {
  color: $ashby-gray;
}

.create-group, .user-bio {
  margin-top: 16px !important; // To override foundation's row class
  margin-bottom: 16px !important; // To override foundation's row class
  padding: 20px;
  height: 100%;
  // width: 100%;
  background-color: white;
  border-radius: 8px;
}

.create-group h6 {
  color: $ashby-black;
}

.no-groups-leading {
  padding: 20px;
  text-align: center;
}

.user-info {
  height: 100%;
  border-radius: 8px;
  background-color: white;
  margin-top: 16px !important; // To override foundation's row class
  margin-bottom: 16px !important; // To override foundation's row class
  padding: 20px;
}

.header img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 18px;
}

.header {
  padding-top: 20px;
  font-style: bold;
}

.header h2 {
  text-align: center;
}

.selected {
  border-bottom: 3px solid $ashby-green;
}

.selected:first-child {
  border-bottom-left-radius: 8px;
}

.click-info {
  padding: 10px;
  height: 48px;
}

.click-info img {
  height: 25px;
  margin-right: 10px;
}

.click-info:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.click-groups {
  padding: 10px;
  height: 48px;
}

.click-groups img {
  height: 25px;
  margin-right: 10px;
}

.click-groups:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.click-register:hover {
  cursor: pointer;
  color: $ashby-dark-blue;
}

.click-register h4 {
  color: $ashby-light-blue;
}

.no-account {
  float: left;
}

.photoPreview {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 3px solid $ashby-dark-blue;
  display: inline-block;
  object-fit: cover;
}

.form-error {
  background-color: #ffcdcd!important;
}

.form-error-msg {
  color: #e54d4d;
  display: none;
}

@media (max-width: 64em) {
  .info .columns {
    min-width: 100%;
  }
}

.no-groups-leading {
  margin-top: 16px !important;
}
