
<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
  	<div class = "flash_<%= name %>" >
    	<%= msg %>
    	<% if name=="notice" %>
    		<i class="fa fa-check"></i>
    	<% elsif name=="error" %>
    	 	<i class="fa fa-exclamation-triangle"></i>
    	 <% end %>
   	</div>
  <% end %>

<% end %>